@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);     
@import 'funcs';
@import 'reset';

$outer: 80%;
$page_section_padding: 160px 10%;

body {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
}

a {
	text-decoration: none;
}

h1 {
	color: #fff;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 60px;
	margin-bottom: 80px;
}

h2 {
	font-size: 45px;
	margin-bottom: 30px;
	font-weight: 100;
}

#logo {
	float: left;	
}

#header-wrapper, #footer-wrapper, #lower-footer-wrapper {
	width: $outer;
	margin: auto;
	padding: 50px 0px;
}

nav {
	float: right;
	margin-top: 20px;
	
	ul {
		
	}
	li {
		float: left;
		display: inline;
		margin-left: 30px;
	}
	a {
		display: block;
		font-weight: 400;
		text-decoration: none;
		color: #fff;
		text-transform: lowercase;
		padding: 18px 30px;
		box-sizing: border-box;
		border: 2px solid rgba(0,0,0,0);
		
		&:hover, &.active {
			@include border-radius(50px);
			color: #fff;
			border: 2px solid #d01012;
		}
	}
}

.center-text {
	text-align: center;
}

.two_col_wrap {
	width: 80%;
	margin: auto;
}

#hero-desc {
	@include transition_(-50%,-50%);
	left: 50%;
	top: 60%;
	position: absolute;
	width: 80%;
	text-align: center;
	height: 50%;
}

p {
	color: #868686;
	line-height: 30px;
	margin-bottom: 40px;
}

.one_col {
	width: 60%;
	margin: auto;
	padding: $page_section_padding;
	box-sizing: border-box;
}

.two_col {
	padding: 160px 0px;
	width: 48%;
	margin-right: 4%;
	float: left;
	box-sizing: border-box;
	&.img {
		text-align: center;
	}
	svg {
		text-align: center;
	}
	&.last {
		margin-right: 0px;
	}
}

header {
	background: url("../images/hero.jpg") no-repeat;
	background-size: cover;
	min-height: 1000px;
}

.page-section, .footer-section {
	padding: 0px 50px;
	&.alt {
		background: #fafafa;
	}
}

a.button {
	@include border-radius(50px);
	background: #d01012;
	color: #fff;
	padding: 20px 30px;
	text-decoration: none;
	position: relative;
	
	svg {
		@include border-radius(50px);	
		width: 14px;
		height: 14px;
		padding: 5px;
		border: 2px solid #fff;
		position: relative;
		top: 8px;
	}
	
	&.email svg {
		@include border-radius(0px);	
		border: none;		
	}
	
	&.arrow svg {
		margin-left: 15px;		
	}
	
	&.arrow-right svg {
		margin-left: 15px;
		transform: rotate(90deg);			
	}
	&.shadow {
		@include box-shadow(#ccc);
	}
}

footer {
	background: #262e3a;
	color: #96989c;
	font-weight: 400;
	font-size: 13px;
	
	a {
		color: #d01012;
		&.button.shadow {
			@include box-shadow(#333);
		}
		font-size: 14px;
	}
	
	h2 {
		margin-bottom: 60px;
		color: #fff;
	}
}

.clear {
	clear: both;
}

#lower-footer {
	border-top: 1px solid #3c434e;
	padding-bottom: 16px;
}

#footer-credits {
	float: left;
}

#footer-author {
	float: right;
}

@media screen and (max-width: 960px) {
	
}