/* import google fonts and reset and place mixins in a separate */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);     
@import 'slider';
@import 'funcs';
@import 'reset';

/* vars */
$outer: 80%;
$page_section_padding: 160px 10%;
$red: #d01012; 

/* global tags at the top */
body {
	font-family: 'Roboto Slab', serif; 
	font-weight: 100;
}

a {
	text-decoration: none;
}  

h1 {
	color: #fff; 
	font-weight: 400;
	text-transform: lowercase;
	font-size: 60px;
	margin-bottom: 80px;
}
 
h2 { 
	font-size: 45px;
	margin-bottom: 30px;
	font-weight: 100;
}

h3 {
	margin: 0px 0px 20px 0px;
	padding-top: 20px;
	display: block;
	color: #262e3a;
	font-weight: 400;
}

p { 
	color: #868686;
	line-height: 30px;
	margin-bottom: 40px;
}

/* GLOBAL CLASSES */
 
.center-text {
	text-align: center;
}

.clear {
	clear: both;
} 

/* give wrapper actual ids for clarity but use the same codebase for styling */
#header-wrapper, #footer-wrapper, #lower-footer-wrapper {
	width: $outer;
	margin: auto;
	padding: 50px 0px;
}

/* same as above but using classes */
.page-section, .footer-section {
	padding: 0px 50px;
	&.alt {
		background: #fafafa;
	}
}

/* HEADER */

header {
	background: url("../images/hero.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 1000px;
}

#hero-desc {
	@include transition_(-50%,-50%);
	left: 50%;
	top: 50%;
	position: absolute;
	width: $outer;
	text-align: center;
	height: 190px;
}

/* i use float to position elements side by side some might use position: absolute */
#logo {
	float: left;	
}

nav {
	float: right;
	margin-top: 20px;
	
	/* nesting li and a here for clarity */ 
	li {
		float: left;
		display: inline;
		margin-left: 30px;
		a {
			display: block;
			font-weight: 400;
			text-decoration: none;
			color: #fff;
			text-transform: lowercase;
			padding: 18px 30px;
			box-sizing: border-box;
			border: 2px solid rgba(0,0,0,0);
			
			&:hover, &.active {
				@include border-radius(50px);
				color: #fff;
				border: 2px solid $red;
			}
		}
	}
}

/* Writing my own grid systems because idk */
.one_col {
	width: 60%;
	margin: auto;
	padding: $page_section_padding;
	box-sizing: border-box;
}

.two_col {
	padding: 160px 0px;
	width: 48%;
	margin-right: 4%;
	float: left;
	box-sizing: border-box;
	&.img {
		text-align: center;
	}
	svg {
		text-align: center;
	}
	&.last {
		margin-right: 0px;
	}
}

.two_col_wrap {
	width: $outer;
	margin: auto;
}

/* treating buttons as a class :D */

a.button {
	@include border-radius(50px);
	background: $red;
	color: #fff;
	padding: 20px 30px;
	text-decoration: none;
	position: relative;
	
	svg {
		@include border-radius(50px);	
		width: 14px;
		height: 14px;
		padding: 5px;
		border: 2px solid #fff;
		position: relative;
		top: 8px;
	}
	
	&.email svg {
		@include border-radius(0px);	
		border: none;		
	}
	
	&.arrow svg {
		margin-left: 15px;		
	}
	
	&.arrow-right svg {
		margin-left: 15px;
		transform: rotate(90deg);			
	}
	&.shadow {
		@include box-shadow(#ccc, 15px);
	}
}

/* FOOTER */

footer {
	background: #262e3a;
	color: #96989c;
	font-weight: 400;
	font-size: 13px;
	
	a {
		color: #d01012;
		&.button.shadow {
			@include box-shadow(#333, 15px);
		}
		font-size: 14px;
	}
	
	h2 {
		margin-bottom: 60px;
		color: #fff;
	}
}

#lower-footer {
	border-top: 1px solid #3c434e;
	padding-bottom: 16px;
}

#footer-credits {
	float: left;
}

#footer-author {
	float: right;
}

/* CALCULATOR */

#calculator {
	@include box-shadow(#ccc, 90px);
	@include border-radius(8px);
	padding: 8% 10%;
	margin: auto;
}

#calculator-slider {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
}

/* little experiment trying to not use tables */
#calculator-results-grid {
	overflow: hidden;
	@include border-radius(10px);
	.calculator-column {
		background: #f5f5f5;
		padding: 18px;
		color: #6e6e6e;
		box-sizing: border-box;
		width: 75%;
		float: left;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		&.last {
			width: 25%;
			background: #e8e7e7;
		}
	}
}

@media screen and (max-width: 1164px) {
	.two_col img {
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 940px) {
	.one_col, .two_col {
		width: 100%;
		float: none;
	}
}